:root {
  --dark-primary-color:#455A64;
  --primary-color:#607D8B;
  --accent-color:#ffee51;
}

.with-padding {
  padding:50px;
}

#apps, #team {
  background:rgba(0, 0, 0, 0.05);
}

body {
  margin-top:90px;
}

h2 {
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 100px;
}

h5 {
  font-weight: bold;
  color:var(--dark-primary-color);
}

.navbar {
  z-index:1;
  background-color:var(--dark-primary-color);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0,0.2);
}

.anchor-link {
  font-size: 15px  ! important;
  color:#fff ! important;
}

.anchor-link:hover {
    color:var(--accent-color) ! important;
}

.nav-item .nav-link.active, .nav-item .show>.nav-link {
  color:var(--accent-color) ! important;
  background:var(--dark-primary-color) ! important;
}

#apps {
  display: flex;
  justify-content: center;
}

.card {
  width:18rem;
  margin:10px;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
}

a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

a {
  color:var(--dark-primary-color);
}

a:hover {
    color:var(--primary-color);
}

.social {
  width: 50px;
  margin: 5px;
}

footer {
  background:black;
}

.card-title {
  color:var(--accent-color);
}

.card-footer, .card-header {
  background:var(--primary-color);
}
